[submodule "SparkFun-SX1509"]
	path = SparkFun-SX1509
	url = git@github.com:hoppler/SparkFun-SX1509.git
[submodule "SX1509-WiringPi-Python"]
	path = SX1509-WiringPi-Python
	url = git@github.com:ATX-Sabine/SX1509-WiringPi-Python.git
